{% extends 'parts/base.twig' %}

{% block body %}
    <h1>Signup page</h1>

    <form method="post" action="/signup-post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" value="" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" value="" />
        </div>
        <div class="form-group">
            <label for="con-password">Confirm Password</label>
            <input type="password" name="con-password" class="form-control" id="con-password" value="" />
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
{% endblock %}